# CI for src folder
name: CI

on:
  pull_request:
    branches:
      - master
    paths:
      - 'test/**'
      - 'config/**'
      - '.github/**'
      - 'package.json'
      - 'package-lock.json'
  push:
    branches:
      - master
    paths:
      - 'test/**'
      - 'config/**'
      - '.github/**'
      - 'package.json'
      - 'package-lock.json'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20

    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - macOS-latest
        node_version:
          - 18

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}

      - run: npm ci
      - run: npx playwright install --with-deps chromium firefox

      # disable hosts we shouldn't use
      - run: sudo echo "255.255.255.255 cloudflare-ipfs.com" | sudo tee -a /etc/hosts
      - run: sudo echo "255.255.255.255 pubsubprovider.xyz" | sudo tee -a /etc/hosts

      - run: npm run test:server & npm run test:server:wait-on
      - run: npm run test
      - run: npm run test:browser
